/** Make the form labels bold */
#site-admin {
    form {
        label.form-label {
            font-size: medium;
            font-weight: bold;
        }
    }
}

/** Ensure the modal is under the top bar */
#core-modal {
    .modal:has(> .modal-fullscreen) {
        margin-top: 50px;
    }
}

/** Set the popover width */
.search-sites>.popover {
    max-height: 500px;
    max-width: fit-content;
    overflow-y: auto;
    width: fit-content;
}