/** Make the form labels bold */
#site-admin {
    form {
        label.form-label {
            font-size: medium;
            font-weight: bold;
        }
    }
}

/** Show the canvas form over the modal */
/** Set the height to be under the top bar */
#core-canvas > .offcanvas {
    height: 96vh;
    margin-top: 50px;
    z-index: 1100;
}

/** Ensure the modal is under the top bar */
#core-modal {
    .modal:has(> .modal-fullscreen) {
        height: 96vh;
        margin-top: 50px;
    }
}

/** Set the popover width */
.search-sites>.popover {
    max-height: 500px;
    max-width: fit-content;
    overflow-y: auto;
    width: fit-content;
}