/** Make the form labels bold */
#site-admin {
    form {
        label.form-label {
            font-size: medium;
            font-weight: bold;
        }
    }
}

/** Set the popover width */
.search-sites > .popover {
    max-width: fit-content;
    width: fit-content;
}